var ark = require("<%= arkjs %>");

ark.crypto.setNetworkVersion(<%= network %>);

var transaction = ark.signature.createSignature(
    "<%= secret %>"
    <%= if secondSecret do %>
        ,"<%= secondSecret %>"
    <% end %>
);

console.log(JSON.stringify(transaction));
