var ark = require("<%= arkjs %>");

ark.crypto.setNetworkVersion(<%= network %>);

var transaction = ark.vote.createVote(
    "<%= secret %>",
    ["-<%= delegate %>"]
    <%= if secondSecret do %>
        ,"<%= secondSecret %>"
    <% end %>
);

console.log(JSON.stringify(transaction));
